<?xml version="1.0"?>
<config>
    <modules>
        <Ryanmac_Categoryattributes>
            <version>0.1.0</version>
        </Ryanmac_Categoryattributes>
    </modules>
    <global>
        <models>
            <ryanmac_categoryattributes>
                <class>Ryanmac_Categoryattributes_Model</class>
                <resourceModel>ryanmac_categoryattributes_resource</resourceModel>
            </ryanmac_categoryattributes>
            <ryanmac_categoryattributes_resource>
                <class>Ryanmac_Categoryattributes_Model_Resource</class>
            </ryanmac_categoryattributes_resource>
        </models>
        <blocks>
            <ryanmac_categoryattributes>
                <class>Ryanmac_Categoryattributes_Block</class>
            </ryanmac_categoryattributes>
        </blocks>
        <helpers>
            <ryanmac_categoryattributes>
                <class>Ryanmac_Categoryattributes_Helper</class>
            </ryanmac_categoryattributes>
        </helpers>
        <resources>
            <ryanmac_categoryattributes_setup>
                <setup>
                    <module>Ryanmac_Categoryattributes</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ryanmac_categoryattributes_setup>
            <ryanmac_categoryattributes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ryanmac_categoryattributes_write>
            <ryanmac_categoryattributes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ryanmac_categoryattributes_read>
        </resources>
    </global>
</config>